<div>
    <nav class="navbar navbar-light" style="background-color: rgba(120, 120, 158, 0.721)">
  <div class="container-fluid">
    <a class="navbar-brand">Weather App</a>
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" style= "background-color: rgb(170, 219, 170)", "--bs-btn-hover-color: black";  type="submit">Search</button>
    </form>
  </div>
  </nav>
</div>

