.container {
    background-color: lightblue;
    padding: 10px;
    border-radius: 15px;
    margin-top: 10px;
}

.dateGray {
    text-align: left;
    padding: 10px;
    color: gray;
}

.addr {
    font-weight: bold;
}


#loading {
    text-align: center;
    font-weight: bold;
}

.btn-group {
    padding-top: 3px;
    padding-right: 3px;

}

.days_button {
    
}